jar/exemplos/
jar/*.zip
jar/*.jar
jar/potigol_lib/*.jar
*.prefs

*.class
*.log
*.sc

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
/bin/

exemplos/*
ear-in-jar-loader.zip
teste1.potigol
src/br/edu/ifrn/potigol/Tela.scala
src/jerimum/
/lib/
/.classpath
/.project
/antlr-4.5-complete.jar
/old/
