jar/exemplos/
jar/*.zip
jar/*.jar
jar/potigol_lib/*.jar
*.prefs

*.class
*.log
*.sc

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
/bin/

exemplos/lista1/prog6.poti
exemplos/lista3/prog4b.poti
exemplos/lista3/prog14.poti
exemplos/lista3/prog3.poti
exemplos/lista1/prog6.poti
exemplos/lista3/prog6.poti
jar-in-jar-loader.zip
exemplos/lista3/prog8.poti
exemplos/lista3/prog13.poti
teste1.potigol
exemplos/lista3/prog5.poti
src/br/edu/ifrn/potigol/Tela.scala
src/jerimum/
/lib/
/.classpath
/.project
/antlr-4.5-complete.jar
/old/
